/* Text */
.title, .subtitle, .heading, .subheading, .heading2{
    font-family: Catamaran;
    font-style: normal;
    color: #232020;
}

/* Questions? Reach Out! */
.title{
    font-weight: 600;
    font-size: 2.75em;
    line-height: 1em;

    margin-top: 10%;
}

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. */
.subtitle{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: -0.04em;

    margin-top: 1%;
}

/* Contact Information */
.heading{
    font-weight: bold;
    font-size: 2em;
    line-height: 1.25em;
}

/* Reach out to us via these contact methods. Email us for any questions, concerns, and more. */
.subheading{
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;

    display: inline;
}

/* Our Location; Connect With Us */
.heading2{
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5em;
}

/* First Name, Last Name, UC Davis email, etc. */
.formlabel{
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 0.875em;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.5);

    margin-top: -0.75em;
}

/*Main Containers*/
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
}

.containerheading{
    text-align: center;
    order: 1; 
    width: 60%;
}

.containercontent{
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    margin-top: 3%;
}

.containerinfo{
    order: 1;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3.3em;
    padding-right: 10.35em;

    background: #D4B7DF;
    border-radius: 0.625em;
}

.containerform{
    order: 2;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    padding-left: 3em;
    left: 50%;

    background: #FCF7F8;
    border: 0.0625em solid #232020;
    box-sizing: border-box;
    border-radius: 0.625em;
}

/* Containers: Contact Information */
.containerdescr, .containerlocation, .containerconnect{
    position: static;
    width: 14.75em;

    flex: none;
    flex-grow: 0;
    margin: 0em 0em;
}

.containerdescr{
    height: 10.5em;
    order: 0;
}

.containerlocation{
    height: 4.25em;
    order: 1;
}

.containerconnect{
    height: 5em;
    order: 2;
}

.containerconnect .subheading{ 
    padding-left: 5%;
}

.containerconnectsocials{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
    padding: 1.75em;
    padding-bottom: 0em;

    width: 70%;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0em -1.75em;
}

/* Containers: Form */
.containerfirstname, .containerlastname, .containeremail, .containerphone{
    width: 11.25em;
    height: 3.125em;

    display: inline-flex;
    align-items: left;
    letter-spacing: -0.04em;

    margin: 0.25em 0em;
}

.containerlastname, .containerphone{
    padding-left: 0.5em;
}

.containerreason, .containernotes{
    width: 23.125em;
    height: 3.125em;

    display: flex;
    align-items: left;
    letter-spacing: -0.04em;

    margin: 0.25em 0em;
}

.containerbuttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-top: 30%;
    padding-right: 4.25%;
    padding-bottom: 1.25em;
}

/*Form Text Box*/
.formhalf, .formfull{
    position: absolute;
    border: none;
    border-bottom: 0.0625em solid rgba(0, 0, 0, 0.5);
    background: none;
    outline: none;

    height: 2.5em;

    font-size: 0.75em;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.5);
}

.formhalf{
    width: 13.25em;
    display: inline-flex;
}

.formfull{
    width: 29em;
}

.formhalf:focus, .formfull:focus{
    color: black;
    border-bottom: 0.0625em solid #A16373;
}

/*Buttons*/
.buttonclear, .buttonsubmit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3125em 1.25em;

    width: 11em;
    height: 2.75em;

    border-radius: 0.3125em;

    font-family: Catamaran;
    font-style: normal;
    font-size: 0.75em;
    line-height: 0.75em;
}

/*Clear Form*/
.buttonclear{
    order: 1;
    color: #000000;
    background: #ABABAB;
    border-color: transparent;
}


/*Submit Form*/
.buttonsubmit{
    order: 2;
    color: #FCF7F8;
    background: #A16373;
    border-color: transparent;
    letter-spacing: -0.04em;
}

 /*Icons*/
.icon{
   width: 1.125em;
   height: 1.125em;
}

@media (max-width: 1000px) {
    .containerheading{
        margin-bottom: 4.5%;
    }
    .containercontent {
        flex-direction: column;
        padding: 0%;
        margin: 0%;
    }
}

