.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
}

.containerheading{
    text-align: center;
    order: 1; 
}

.containercontent{
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    margin-top: 5%;
}

.containerinfo{
    order: 1;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3em;
    padding-right: 13em;

    background: #D4B7DF;
    border-radius: 0.625em;
}

.containerform{
    order: 2;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    padding-left: 3em;
    left: 50%;

    background: #FCF7F8;
    border: 0.0625em solid #232020;
    box-sizing: border-box;
    border-radius: 0.625em;
}

/* Text */
/* Questions? Reach Out! */
.title{
    font-family: Catamaran;
    font-style: normal;
    font-weight: 600;
    font-size: 2.75em;
    line-height: 52px;

    color: #232020;
    margin-top: 20%;
}

/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. */
.subtitle{
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: -0.04em;

    color: #232020;
    margin-top: 1%;
}

/* Contact Information */
.heading{
    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.25em;

    color: #232020;
}

/* Reach out to us via these contact methods. Email us for any questions, concerns, and more. */
.subheading{
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
    color: #232020;

    display: inline;
}

/* Our Location; Connect With Us */
.heading2{
    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5em;

    color: #232020;
}

.formlabel{
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: rgba(0, 0, 0, 0.5);

}

/* Contact Information Containers */
.containerdescr{
    position: static;
    width: 14.75em;
    height: 10.5em;
    left: 0em;
    top: 1.5em;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0em 0em;
}

.containerlocation{
    position: static;
    width: 14.75em;
    height: 4.25em;
    left: 0em;
    top: 0em;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0em 0em;
}

.containerconnect{
    position: static;
    width: 14.75em;
    height: 5em;
    left: 1.25em;
    top: 0em;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0em 0em;
}

.containerconnect .subheading{ 
    padding-left: 5%;
}

.containerconnectsocials{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
    padding: 28px;
    padding-bottom: 0em;

    width: 70%;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0em -28px;
}

/* Form Containers */
.containerfirstname{
    width: 11.25em;
    height: 3.125em;

    display: inline-flex;
    align-items: left;
    letter-spacing: -0.04em;

    margin: 4px 0em;
}

.containerlastname{
    width: 11.25em;
    height: 3.125em;

    display: inline-flex;
    align-items: left;
    letter-spacing: -0.04em;

    padding-left: 0.5em;
    margin: 4px 0em;
}

.containeremail{
    width: 11.25em;
    height: 3.125em;

    display: inline-flex;
    align-items: left;
    letter-spacing: -0.04em;

    margin: 4px 0em;
}

.containerphone{
    width: 11.25em;
    height: 3.125em;

    display: inline-flex;
    align-items: left;
    letter-spacing: -0.04em;

    padding-left: 0.5em;
    margin: 4px 0em;
}

.containerreason{
    width: 23.125em;
    height: 3.125em;

    display: flex;
    align-items: left;
    letter-spacing: -0.04em;

    margin: 4px 0em;
}

.containernotes{
    width: 23.125em;
    height: 3.125em;

    display: flex;
    align-items: left;
    letter-spacing: -0.04em;
    margin: 4px 0em;
}

.containerbuttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-top: 30%;
    padding-bottom: 20px;
}

.formhalf{
    position: absolute;
    height: 35px;
    display: inline-flex;

    border: none;
    border-bottom: 1px solid #A16373;
    background: none;
    outline: none;
}

.formfull{
    position: absolute;
    width: 350px;
    height: 35px;

    border: none;
    border-bottom: 1px solid #A16373;
    background: none;
    outline: none;
}

/*Buttons*/

/*Clear Form*/
.buttonclear{
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3125em 1.25em;

    width: 11em;
    height: 2.75em;
    left: 2.75em;
    top: 386px;

    background: #ABABAB;
    border-radius: 5px;

    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 0.75em;

    color: #000000;
}


/*Submit Form*/
.buttonsubmit{
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3125em 1.25em;

    width: 11em;
    height: 2.75em;
    right: 2.75em;
    left: 270px;
    top: 386px;

    background: #A16373;
    border-radius: 5px;

    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 0.75em;
    line-height: 0.75em;
    letter-spacing: -0.04em;

    color: #FCF7F8;
}

 /*Icons*/
.icon{
   width: 1.125em;
   height: 1.125em;
}

