@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

.join {
    margin-top: 5%;
    margin-bottom: 10%;

    display: flex;
    flex-direction: column;
}

.join h1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;

    font-family: Catamaran;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 52px;
    letter-spacing: -0.04em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 40px 0px;

    margin-left: 15%;
    margin-right: 15%;
}
.join img {
    object-fit: cover;

    width: 67%;
    height: 390.17px;
    left: 0px;
    top: 92px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px 0px;

    display: flex;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
 
}

.content{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -50px;
    position: relative;
}

.desc {
    width: 66%;

    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.04em;
    
    color: #000000;

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 40px 0px;

    margin-left: auto;
    margin-right: auto;

}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10px; 
}


.button button:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    
    width: 136px; 
    height: 43px; 
    left: 0px;
    top: 0px;
    
    background: #A16373;
    border-radius: 14px;
    border: #000000;
     
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2vw;
} 

.button button:first-child p {
    width: 96px;
    height: 23px;
    left: 20px;
    top: 10px;
    
    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 14.5px;
    line-height: 23px;

    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    
    color: #FCF7F8;
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    
    white-space: nowrap;
    justify-content: center;
}

.button button:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    
    width: 148px;
    height: 43px;
    left: 0px;
    top: 0px;
    
    background: none;
    border-radius: 14px;
    border: 1px solid;   

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2vw;
}

.button button:nth-child(2) p {
    width: 108px;
    height: 23px;
    left: 20px;
    top: 10px;
    
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 23px;

    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    
    color: #232020;
    
    

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

    white-space: nowrap;
    justify-content: center;
}

.button button:nth-child(3){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    
    width: 186px;
    height: 43px;
    left: 0px;
    top: 0px;
    
 
    background: none;
    border-radius: 14px;
    border: 1px solid; 
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2vw;
}

.button button:nth-child(3) p {

    width: 146px;
    height: 23px;
    left: 20px;
    top: 10px;
    
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5px;
    line-height: 23px;
  
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    
    color: #232020;
    
    
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;

    white-space: nowrap;
    justify-content: center;
} 

@media (max-width: 700px) {
    .join {
        margin: 0px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .join img {
        object-fit: cover;
    
        width: 80%;
        height: 390.17px;
        left: 0px;
        top: 92px;
    
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 40px 0px;
    
        display: flex;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
     
    }    

    .desc {
        width: 79%;
    
        font-family: Catamaran;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: -0.04em;
        
        color: #000000;
    
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 40px 0px;
    
        margin-left: auto;
        margin-right: auto;
    
    }    
    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -10px; 
    }    
    .button button:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        
        width: 110px; 
        height: 43px; 
        left: 0px;
        top: 0px;
        
        background: #A16373;
        border-radius: 14px;
        border: #000000;
         
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 2px;
    } 
    
    .button button:first-child p {
        width: 96px;
        height: 23px;
        left: 20px;
        top: 10px;
        
        font-family: Catamaran;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 23px;
    
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        
        color: #FCF7F8;
        
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
        
        white-space: nowrap;
        justify-content: center;
    }
    
    .button button:nth-child(2){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        
        width: 120px;
        height: 43px;
        left: 0px;
        top: 0px;
        
        background: none;
        border-radius: 14px;
        border: 1px solid; 
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 2px;
    }
    
    .button button:nth-child(2) p {
        width: 108px;
        height: 23px;
        left: 20px;
        top: 10px;
        
        font-family: Catamaran;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 23px;
    
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        
        color: #232020;
        
        
    
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    
        white-space: nowrap;
        justify-content: center;
    }
    
    .button button:nth-child(3){
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        
        width: 150px;
        height: 43px;
        left: 0px;
        top: 0px;
        
     
        background: none;
        border-radius: 14px;
        border: 1px solid; 
        
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 2px;
    }
    
    .button button:nth-child(3) p {
        width: 146px;
        height: 23px;
        left: 20px;
        top: 10px;
        
        font-family: Catamaran;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 23px;
      
        display: flex;
        align-items: center;
        letter-spacing: -0.04em;
        
        color: #232020;
        
        
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    
        white-space: nowrap;
        justify-content: center;
    } 
}